<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMathsOperations" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IMathsOperations" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/MathsLibrary/MathsOperations/base"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMathsOperations"
          contract="IMathsOperations" name="BasicHttpBinding_IMathsOperations" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/MathsLibrary/MathsOperations/ws"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMathsOperations"
          contract="IMathsOperations" name="WSHttpBinding_IMathsOperations">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>